.row{
  margin: 0px;
  padding: 0px;
}

.onimg-text{
  margin-top: -70px;
}

.onimg-text h4{
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 7px 30px
}

.welcome-our-dairy{
  background-color: aliceblue;
  padding: 50px;
}

.welcome-our-dairy h1{
  color: rgb(0, 0, 0);
    font-family: "Libre Baskerville", serif;
    font-size: 3.4em;
    line-height: 1.25em;
    font-weight: 700;
}

.welcome-our-dairy p{
  font-size: 0.875rem;
  line-height: 1.5;
}

.about-our-dairy-form {
  padding: 50px 0px;
  background-color: #e9ecef;
}

.about-our-dairy-form .col-md-6 {
  padding: 0px 40px 0px 40px;
}

.about-our-dairy-form h1{
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  font-size: 3.4em;
  line-height: 1.25em;
  font-weight: 700;
}

.about-our-dairy-form p{
  font-size: 0.875rem;
  line-height: 2.0;
  text-align: justify;
  padding-top: 25px;
}



.why-choose-us{
  padding: 50px 0px;
  background-color: aliceblue;
}

.why-choose-us .col-md-6 {
  padding: 0px 40px 0px 40px;
}

.why-choose-us h1{
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  font-size: 3.4em;
  line-height: 1.25em;
  font-weight: 700;
}

.why-choose-us p{
  font-size: 0.875rem;
  line-height: 2.0;
  text-align: justify;
  padding-top: 25px;
}

.our-team{
  margin-bottom: 0px;
}

.our-team h1{
  color: rgb(0, 0, 0);
  font-family: "Libre Baskerville", serif;
  font-size: 3.4em;
  line-height: 1.25em;
  font-weight: 700;
}

.our-team .para{
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 15px 25%;
}



.our-team .card-name{
  color: black;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 1.44rem;
    font-weight: 600;
    text-transform: uppercase;
}

.our-team .card .card-ocupation{
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: blue;
  font-weight: 600;
}
