footer{
  background: #1c2331;
}

.footer-header{
  background-color: #6351ce;
  color: white;
}

.white-text {
  color: #fff !important;
}

.container.center-text{
  color: white;
}

.deep-purple.accent-2 {
  background-color: #7c4dff !important;
   width: 60px;
}

.useful-links{
  color:white;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}



.brand{
  text-align: center;
  background-color: rgb(211 211 211 / 82%);
  padding: 10px 0px;

}
.brand img{
  margin: 0 50px;
}


@media screen and (max-width: 600px) {
  .brand {
    padding: 0px 0px;
}
.brand img {
    margin: 0 -3px;
}
}



