.img-gallery-top{
    object-fit: cover;
    height: 500px;
}

.gallery-heading{
 background: aliceblue;
}

.gallery-heading h2{
    margin: .45rem 0 .45rem;
    color: rgb(0, 0, 0);
    font-family: "Libre Baskerville", serif;
    font-size: 3.4em;
    line-height: 1.25em;
    font-weight: 700;
    text-align: center;
}

.img-gallery{
    height:300px;
}

.gallery-body{
    height:470px;
}



@media screen and (max-width: 600px) {
    .img-gallery-top {
        object-fit:unset;
        height: 400px;
    
    }

    .gallery-heading h2 {
        font-size: 25px;
    }

    .img-gallery {
        height: 200px;
    }

    .gallery-body {
        height: 300px;
    }
   
  }
